#container {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-column-gap: 20px;
    height: 950px;
}


#slideShowImages {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 95% 5%;
}


#imageArea{

}


#currentImageID{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight:normal;
    text-align:center;
    color:#777;
}

#buttonArea{
    display: grid;
    grid-template-columns: 50% 50%;
}

#editArea {
    display: grid;
}

#textArea{
    display: grid;
    grid-template-rows: 80% 10% 10%;
}

#inputText{
    display: inline-grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: repeat(auto-fill, 60px);
}


#addNewText{
}

.item-2{
    background-color: chartreuse;
}