#container {
    display: grid;
    grid-template-columns: 50% 50%;
}


#slideShowImages {
    display: grid;
    grid-template-rows: 95% 5%;

}
#imageArea{
}

#buttonArea{
    display: grid;
    grid-template-columns: 50% 50%;
}

#editArea {
    display: grid;
}

#inputText{
    display: grid;
    background-color: cornflowerblue;
}

.item-2{
    background-color: chartreuse;
}
.item-3{
    background-color: blue;
}

.item-4{
    background-color: darkorchid;
}