#container {
    display: grid;
    grid-template-columns: 17.5% 30% 35% 17.5%;
    grid-column-gap: 20px;
    height: 950px;
}


#slideShowImages {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 95% 5%;

}
#imageArea{
}

#currentImageID{
    text-align:left;
}

#buttonArea{
    display: grid;
    grid-template-columns: 50% 50%;
}

#editArea {
    display: grid;
}

#textArea{
    display: grid;
    grid-template-rows: 90% 5% 5%;
}

#inputText{
    display: inline-grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(auto-fill, 60px);
}


#addNewText{
}

.item-2{
    background-color: chartreuse;
}