
#genContainer{
    display: grid;
    grid-template-rows: 5% 95%;
    grid-column-gap: 20px;
    height: 100%;
    justify-items: center;
}

#imageArea{
    width: 550px;
}

#buttonArea{
    display: grid;
    grid-template-columns: 50% 50%;
}

#back{
    width: 100%;
}

