<!DOCTYPE html>
<html lang="en"></html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Generated Memes</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/WebStyleGen.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/WebStyle.css">
</head>
<body>
<h1 align="center">Generated Memes</h1>
<div id="genContainer">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file"/>
        <input type="submit" value="Submit"/>
    </form>
    <div id="overviewGeneArea">
        <p id="titleGene"></p>
        <div id="thnDivGene"></div>
    </div>
    <div id="showGenerated">
        <!--show generated memes-->
        <h2 id="generatedTitle">abc</h2>
        <div id="imageArea"></div>
        <div id="buttonArea">
            <button id="preButton">Pre</button>
            <button id="nextButton">Next</button>
        </div>
        <button id="back">Back</button>
    </div>
</div>
</body>

<script src="javascripts/ShowGeneratedMemes.js"></script>
<script src="javascripts/GeneratedOverview.js"></script>
<script src="javascripts/WebFunctionsGen.js"></script>
</html>