<!DOCTYPE html>
<html lang="en"></html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Generated Memes</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/WebStyleGen.css">
    </head>
    <body>
        <div id="container">
            <div id="slideShowGenerated">
                <!--show generated memes-->
                <div id="imageArea"></div>
                <div id="buttonArea">
                    <button id="preButton">Pre</button>
                    <button id="nextButton">Next</button>
                    <button id="testgenerate">generate</button>
                </div>
            </div>
            <div id="editArea">
                <div id="overviewTmplArea">
                    <p id="titleTmpl"></p>
                    <div id="thnDiv"></div>
                </div>
            </div>
    </body>

    <script src="javascripts/TemplateThumbnail_generated.js"></script>
    <script src="javascripts/ShowGeneratedMemes.js"></script>
    <script src="javascripts/WebFunctionsGen.js"></script>
</html>