<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes Generator</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/WebStyle.css">
    <script src="javascripts/html2canvas.js"></script>
    <script src="javascripts/FileSaver.js"></script>

</head>
<body>

<div id="container">
    <div id="slideShowImages">
        <!--show memes templates-->
        <div id="imageArea"></div>
        <div id="buttonArea">
            <button id="preButton">Pre</button>
            <button id="nextButton">Next</button>
        </div>
    </div>
    <div id="editArea">
        <div id="overviewTmplArea">
            <p id="titleTmpl"></p>
            <div id="thnDiv"></div>
        </div>
        <div id="textArea">
            <div id="inputText"></div>
<!--            <input type="color" id="textColor" name="textColor" value="#e66465">-->
            <button id="apply">Apply</button>
            <button id="addNewText">Add</button>
            <form action="/upload" method="POST" enctype="multipart/form-data" id="myForm">
                <input type="hidden" name="img_val" id="img_val" />
            </form>
            <input type="submit" id="generate" value="Generate"/>
            <button id="viewGenerated">View Generated Memes</button>
        </div>
        <div id="filesArea">
            <input id="importFile" onchange="" type="file" />
            <button id="export">Export</button>
        </div>
    </div>

</div>

<!-- 弹窗 -->
<div id="myModal" class="modal">
    <!-- 关闭按钮 -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <!-- 弹窗内容 -->
    <img class="modal-content" id="img01">

    <!-- 文本描述 -->
    <div id="caption"></div>
    <div id="modalButtonArea">
        <button id="modalPreButton">Pre</button>
        <button id="modalNextButton">Next</button>
    </div>
  </div>

<!-- 预览弹窗 -->
  <div id="preview" class="modal">

    <!-- 关闭按钮 -->
    <span class="close" onclick="document.getElementById('preview').style.display='none'">&times;</span>

    <!-- 弹窗内容 -->
    <img class="modal-content" id="imgpreview">

    <!-- 文本描述 -->
    

  </div>


</body>

<script src="javascripts/TextsInput.js"></script>
<script src="javascripts/ImportFiles.js"></script>
<script src="javascripts/ImageExport.js"></script>
<script src="javascripts/LoadImages.js"></script>
<script src="javascripts/TemplateThumbnail.js"></script>
<script src="javascripts/WebFunctions.js"></script>
</html>
